VITE_SUPABASE_URL=https://sgkmjjlgqytcrtzjwple.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNna21qamxncXl0Y3J0emp3cGxlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4MjAyOTksImV4cCI6MjEwNDM5NjI5OX0.Wg4WeUNCT7eYtjojs_X2jlQOQvRgHYsjKnbUztt3hWU
